<ul class="labels errors">
    <% if @user.errors.any? %>
    <div class="ui list"></div>
        <% @user.errors.full_messages.each do |msg| %>
        <div class="item">
            <div class="content">
                <div class="header">
                    <i class="fas fa-exclamation-triangle"></i>
                    <%= msg %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
</ul>
    

<div class="labels">
    <%= form_for @user do |u| %>
        <%= u.label :name %>
        <%= u.text_field :name %>    
        <div>
        <%= u.label :username %>
        <%= u.text_field :username %>
        </div>
        <div>
        <%= u.label :password %>
        <%= u.password_field :password %>
        </div>
        <div>
        <%= u.label :github_profile, value="GitHub Profile" %>
        <%= u.text_field :github_profile %>
        </div>
        <div>
        <%= u.label :cohort_name, value="Cohort Name" %>
        <%= u.text_field :cohort_name %>
        </div>
        <div>
        <%= u.label :cohort_start, value="Cohort Start Date" %>
        <%= u.date_field :cohort_start %>
        </div>
        <%= u.submit %>
    <% end %>
</div>
