<h1><%= @user.name %>'s Profile</h1>

<h2>Name: <%= @user.name %></h2>
<h2>GitHub Profile: <%= @user.github_profile %></h2>
<h2>Flatiron Cohort Name: <%= @user.cohort_name %></h2>
<h2>Cohort Start Date: <%= @user.cohort_start %></h2>



<%= link_to "Back to User Index", users_path %>
<br>
<%= link_to "Edit this User", edit_user_path(@user) %>