<ul class="labels errors">
    <% if @project.errors.any? %>
    <div class="ui list"></div>
        <% @project.errors.full_messages.each do |msg| %>
        <div class="item">
            <div class="content">
                
                <div class="header">
                    <i class="fas fa-exclamation-triangle"></i>    
                    <%= msg %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
</ul>

<div class="labels">
    <%= form_for @project do |u| %>
        <%= u.label :name %>
        <%= u.text_field :name %>
        <div>
        <%= u.label :github_url %>
        <%= u.text_field :github_url %>
        </div>
        <div>
        <%= u.label :description %>
        <%= u.text_field :description %>
        </div>
        <%= u.submit %>
    <% end %>
</div>