<ul class="labels errors">
    <% if @project.errors.any? %>
    <div class="ui list"></div>
        <% @project.errors.full_messages.each do |msg| %>
        <div class="item">
            <div class="content">
                
                <div class="header">
                    <i class="fas fa-exclamation-triangle"></i>    
                    <%= msg %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
</ul>

<div class="labels">
    <%= form_for @project do |u| %>
        <div class="form-text">
        <%= u.label :name %>
        <br>
        <%= u.text_field :name %>
        </div>
        <div class="form-text">
        <%= u.label :github_url %>
        <br>
        <%= u.text_field :github_url %>
        </div>
        <div class="form-text">
        <%= u.label :description %>
        <br>
        <%= u.text_area :description, :cols => 20, :rows => 10 %>
        </div>
        <br>
        <%= u.submit %>
    <% end %>
</div>

<%= form_tag project_path(@project), method: :delete do %>
    <%= submit_tag "Delete" %>
<% end %>