<%= stylesheet_link_tag "homepage" %>
<%= render 'application/menu' %>

<h1>List of All Projects:</h1>

<ul>
    <% @projects.each do |proj| %>
        <li><%= link_to proj.name, project_path(proj) %></li>
    <% end %>
</ul>


<% if session[:user_id] %>
    <%= link_to "Create a new Project", new_project_path %>
<% end %>
<div>
    <%= link_to "Return to homepage", homepage_path %>
</div>
