<ul class="labels errors">
    <% if @post.errors.any? %>
    <div class="ui list"></div>
        <% @post.errors.full_messages.each do |msg| %>
        <div class="item">
            <div class="content">
                <div class="header">
                    <i class="fas fa-exclamation-triangle"></i>
                    <%= msg %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
</ul>

<div class="labels">
    <%= form_for @post do |u| %>
        <div class="form-text">
        <%= u.label :title %>
        <br>
        <%= u.text_field :title %>
        </div>
        <div class="form-text">
        <%= u.label :content %>
        <br>
        <%= u.text_area :content, :cols => 50, :rows => 10 %>
        </div>
        <br>
        <%= u.submit %>
    <% end %>
</div>

<%= form_tag post_path(@post), method: :delete do %>
    <%= submit_tag "Delete" %>
<% end %>
