<%= stylesheet_link_tag "post_showpage" %>

<h1><%= @post.title %></h1>

<h2><%= link_to @post.user.name, user_path(@post.user)%></h2>
    <div class="ui vertical buttons" id="sidebar">
        <% if session[:user_id] %>
        <div class="ui button">
            <% fav = @post.post_favorites.find_by(user_id: session[:user_id], post_id: @post.id) %>
                <% if fav %>
                    <%= button_to 'Unfavorite this Post', {:controller => "post_favorites", :action => "destroy", :post_id => @post.id} , :method=>:delete%>      
                <% else %>
                    <%= button_to 'Favorite this Post', {:controller => "post_favorites", :action => "create", :post_id => @post.id} , :method=>:post%>
                <% end %>
        </div>
        <% end %>

        
        <% if @post.user.id == session[:user_id] %>
            <div class="ui button">
            <%= link_to "Edit this post", edit_post_path %>
            </div>
        <% end %>
    </div>

    <p class="content"><%= @post.content %></p>

