<head>
    <link rel="stylesheet" type="text/css" href="homepage.scss">
    <title>Homepage</title>
</head>

<body>
    <h1>Welcome!</h1>

    <div class="dropdown">
        <button class="dropbtn">Navigate</button>
        <div class="dropdown-content">
        <%= link_to "View Posts", posts_path %>
        <%= link_to "View Projects", projects_path %>
        <%= link_to "View Users", users_path %>
        <%= link_to "View Website analytics", analytics_path %>
        </div>
    </div>


    <br>
    <%= link_to "Login", sessions_new_path %>
    <br>
    <%= link_to "Logout", logout_path %>
</body>

