<%= stylesheet_link_tag "homepage" %>

    <div id="intro">
        <h1>Welcome!</h1>
    </div>

    <!-- profile card of 4 random users -->
<% if !@profiles.empty? %>
<div class="ui grid">
    <% @profiles.each do |profile| %>
            <div class="ui centered card" id="panels">
                <div class="content">
                <div class="header"><%= profile.name %></div>
                </div>
                <div class="content">
                <h4 class="ui sub header">User Info</h4>
                <div class="ui small feed">
                    <div class="event">
                    <div class="content">
                        <div class="summary">
                        Number of Posts authored: <%= profile.posts.length %>
                        </div>
                    </div>
                    </div>
                    <div class="event">
                    <div class="content">
                        <div class="summary">
                        Number of Projects collaborated on: <%= profile.projects.length %>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="extra content">
                <%= link_to "View Profile", user_path(profile), class: "ui button" %>
                </div>
            </div>
    <% end %>
</div>
<% end %>